<footer class="footer">
    <div class="container mx-auto text-center">
        <span class="mx-2">
            <a href="https://gitlab.com/bltzkrg22/poorchat-quiz"><img src="gitlab-icon.svg" alt="GitLab link" height="64" /></a>
        </span>
        <span class="mx-2">
            <img src="1F437.svg" alt="Pig" height="52" />
        </span>
    </div>
</footer>
