@page "/"
@inject IQuestionRepository _questionRepository
@inject IUserRepository _userRepository
@inject NavigationManager uriHelper

<div class="content p-5">
    @if (_questionRepository is null)
    {
        <p class="text-salmon">Ładuję pytania z bazy…</p>
    }
    else if (testQuestion is null && endOfQuestionsFlag is not true)
    {
        <h1 class="text-center text-salmon">Kto to powiedział?</h1>

        <button type="button" class="btn btn-block btn-dark text-salmon margin mt-5"
                @onclick="@(() => { NumberOfQuestions = 10; NextQuestion(); })">10 pytań</button>

        <button type="button" class="btn btn-block btn-dark text-salmon margin mt-5"
                @onclick="@(() => { NumberOfQuestions = Int32.MaxValue; NextQuestion(); })">Wszystkie pytania</button>

        <p class="text-danger pt-4 d-inline-block align-middle">Baza pytań tymczasowo offline. Dostępne są jedynie trzy pytania „zapasowe”, dla demonstracji działania pozostałej części aplikacji.</p>
    }
    else if (testQuestion is null && endOfQuestionsFlag is true)
    {
        <ScoreViewer CorrectAnswerCounter="@CorrectAnswerCounter" WrongAnswerCounter="@WrongAnswerCounter" />

        <p class="text-info pt-4 d-inline-block align-middle">Koniec pytań w bazie. Jeśli chcesz zagrać od nowa, <button type="button" class="btn btn-info text-salmon" @onclick="ForceReload"><span class="oi oi-reload"></span> odśwież stronę</button></p>
    }
    else
    {
        <h1 class="text-center text-salmon">Kto to powiedział?</h1>

        <div class="question-box py-2">
            <div class="card bg-my-dark text-salmon border border-salmon">
                <div class="card-body">
                    <p>
                        <span class="font-weight-bold" style="color: @candidateUserColor">@GetCandidateUser:</span>
                        <br />
                        <span class="question-text">@testQuestion.QuestionText</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="answer-box d-flex text-salmon" role="group">
            <QuizButton UserNickname="@shuffledAnswers[0]"
                        OnHover="HoverHandler"
                        OnOut="OutHandler"
                        OnClick="AnswerHandler"
                        DisabledStatus="@AreButtonsDisabled" />
            <QuizButton UserNickname="@shuffledAnswers[1]"
                        OnHover="HoverHandler"
                        OnOut="OutHandler"
                        OnClick="AnswerHandler"
                        DisabledStatus="@AreButtonsDisabled" />
            <QuizButton UserNickname="@shuffledAnswers[2]"
                        OnHover="HoverHandler"
                        OnOut="OutHandler"
                        OnClick="AnswerHandler"
                        DisabledStatus="@AreButtonsDisabled" />
        </div>


        @if (providedAnswer is not null)
        {
            <div class="validation-box">
                @if (ValidateAnswer(correctAnswer, providedAnswer))
                {
                    <div class="alert-success rounded py-2 align-self-center">
                        <p class="text-success text-center my-auto"><span class="oi oi-check"></span></p>
                    </div>
                }
                else
                {
                    <div class="alert-danger rounded py-2 align-self-center">
                        <p class="text-danger text-center my-auto">
                            <span class="oi oi-x"></span> Poprawna odpowiedź: <span class="font-weight-bold">@correctAnswer</span>
                        </p>
                    </div>
                }
            </div>

            @if (endOfQuestionsFlag != true)
            {
                <button type="button" class="btn btn-block btn-dark text-salmon margin" @onclick="NextQuestion">Kolejne pytanie</button>

                <ScoreViewer CorrectAnswerCounter="@CorrectAnswerCounter" WrongAnswerCounter="@WrongAnswerCounter"/>
            }
            else
            {
                <ScoreViewer CorrectAnswerCounter="@CorrectAnswerCounter" WrongAnswerCounter="@WrongAnswerCounter" />

                <p class="text-info pt-4 d-inline-block align-middle">Koniec quizu. Jeśli chcesz zagrać od nowa, <button type="button" class="btn btn-info text-salmon" @onclick="ForceReload"><span class="oi oi-reload"></span> odśwież stronę</button></p>
            }
        }
    }
</div>


@*<footer class="footer">
    <div class="container mx-auto text-center">
        <a href="https://gitlab.com/bltzkrg22/poorchat-quiz"><img src="gitlab-icon.svg" alt="GitLab link" height="64" /></a>
    </div>
</footer>*@
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

@code
{
    private int NumberOfQuestions { get; set; }
    private Question testQuestion = null;
    private const string NoUserSelectedLabel = "???";
    private const string NoUserSelectedColor = "#DDDDDD";


    private string candidateUser = NoUserSelectedLabel;
    private string candidateUserColor = NoUserSelectedColor;

    private string GetCandidateUser => candidateUser.Trim();


    private string correctAnswer = null;
    private List<string> shuffledAnswers = null;
    private string providedAnswer = null;
    private bool? disableButtonsFlag = null;
    private bool? endOfQuestionsFlag = null;

    private bool AreButtonsDisabled => disableButtonsFlag == true;

    private int CorrectAnswerCounter = 0;
    private int WrongAnswerCounter = 0;

    // List<uint> questionsIds = null;

    // protected override void OnInitialized() { }



    private void HoverHandler((string userFromButton, string color) parameters)
    {
        if (AreButtonsDisabled != true)
        {
            candidateUser = parameters.userFromButton;
            candidateUserColor = parameters.color;
        }
    }

    private void OutHandler()
    {
        if (AreButtonsDisabled != true)
        {
            candidateUser = NoUserSelectedLabel;
            candidateUserColor = NoUserSelectedColor;
        }
    }

    private void AnswerHandler((string userFromButton, string color) parameters)
    {
        candidateUser = parameters.userFromButton;
        providedAnswer = parameters.userFromButton;
        candidateUserColor = parameters.color;
        disableButtonsFlag = true;

        if (ValidateAnswer(correctAnswer,providedAnswer))
        {
            CorrectAnswerCounter++;
        }
        else
        {
            WrongAnswerCounter++;
        }
        NumberOfQuestions--;

        if (NumberOfQuestions <= 0)
        {
            endOfQuestionsFlag = true;
        }
    }

    private bool ValidateAnswer(string correct, string provided)
    {
        if (correct is null || provided is null)
        {
            throw new ApplicationException("Correct answer is null. Check the question database.");
        }

        return correct == provided;
    }

    private void NextQuestion()
    {
        try
        {
            testQuestion = _questionRepository.GetRandomQuestion();
        }
        catch (ArgumentOutOfRangeException)
        {
            // Koniec pyrań w bazie
            testQuestion = null;
            endOfQuestionsFlag = true;
            // throw;
        }

        if (testQuestion is not null)
        {
            correctAnswer = testQuestion.CorrectUserNickname;
            shuffledAnswers = ShuffleAnswers(testQuestion);
        }

        providedAnswer = null;
        disableButtonsFlag = false;
        candidateUser = NoUserSelectedLabel;
        candidateUserColor = NoUserSelectedColor;
    }

    private List<string> ShuffleAnswers(Question question)
    {
        var answers = new List<string>()
        {
            question.CorrectUserNickname,
            question.WrongUserNicknameA,
            question.WrongUserNicknameB
        };

        Rng.KnuthShuffle(answers);

        return answers;
    }

    private void ForceReload()
    {
        uriHelper.NavigateTo(uriHelper.Uri, forceLoad: true);
    }

}
